.img-container-fixed {
    width: 100%;
    height: 160px; /* Controla la altura de la imagen */
    overflow: hidden;
}

.img-container-fixed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-title {
    font-size: 0.9rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Evita que el título ocupe más de una línea */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
